{% extends 'base.html' %}
{% load template_filters %}
	{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			{% if price != 0 %}
			<div class="container">
				<!-- row -->
				<form action="{% url 'checkout' %}" method="post">
					{% csrf_token %}

					<div class="col-md-7">
						<!-- Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<label>Telefon raqamingiz</label>
							<input name="contact_for" type="tel" class="form-control" required>
						</div>
						<input type="hidden" name="total_price" value="{{ price }}">
						<div class="order-notes">
							<label>Manzilingizni kiriting</label>
							<textarea name="adress" class="input" required></textarea>
						</div>
						<select style="display: none;" name="order" class="form-select" multiple aria-label="Multiple select example">
							{% for i in user_orders %}
							  <option value="{{i.id}}" selected>{{ i.product }}</option>
							{% endfor %}
						</select>
						<!-- /Order notes -->
						<input type="submit" class="primary-btn order-submit" value="Buyurtma qilish"/>
					</div>
				</form>
					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Buyurtmalaringiz</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>Mahsulot</strong></div>
								<div><strong>Jami</strong></div>
								<div><strong>O'chirish</strong></div>
							</div>
							{% for i in order_list %}
								<div class="order-products">
									<div class="order-col">
										<div><a href="{% url 'product_detail' i.product.id %}">{{ i.product.name }} </a><span style="color: red;">{{ i.quantity }}ta</span></div>
										<div>
											<!-- Add a unique ID to identify the span element -->
											<span id="priceCalculs{{ forloop.counter }}"></span>
										</div>
										<form method="post" action="{% url 'delete_order' i.id %}">
											{% csrf_token %}
											<input type="submit" class="btn btn-danger" value="O'chirish">
										</form>
									</div>
									<hr>
								</div>
							{% endfor %}
							<div class="order-col">
								<div><strong>Jami narxi</strong></div>
								<div><strong class="order-total">{{ price|sum_converter }} so'm</strong></div>
							</div>
						</div>

					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			{% else %}
			<div class="container">
				<h2>Sizda hali buyurtmalar mavjud emas</h2>
			</div>
			{% endif %}
			<!-- /container -->
		</div>
		<!-- /SECTION -->
<script>
	function sumConverter(val) {
    val = val.toString().split('').reverse().join('');
    let count = 0;
    let result = '';
    for (let i = 0; i < val.length; i++) {
        if (count % 3 === 0 && count !== 0) {
            result = result + ' ' + val[i];
        } else {
            result = result + val[i];
        }
        count++;
    }
    return result.split('').reverse().join('');
	}

	{% for i in order_list %}
        var price = {{ i.product.price }} * {{ i.quantity }};
        document.getElementById('priceCalculs{{ forloop.counter }}').textContent = sumConverter(price) + " so'm";

    {% endfor %}
</script>
{% endblock content %}