{% extends 'base.html' %}
{% load static %}
{% load template_filters %}
{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							{% for i in more_images %}
							<div class="product-preview">
								<img style="height: 100%;" src="{{ i.image.url }}" alt="">
							</div>
							{% endfor %}
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							{% for i in more_images %}
							<div class="product-preview">
								<img src="{{ i.image.url }}" alt="">
							</div>
							{% endfor %}
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{ data.name }}</h2>
							<div>
								<div class="product-rating">
								</div>
							</div>
							<div>
								<h3 class="product-price">{{ data.price|sum_converter }} so'm</h3>
							</div>
							<p>{{ data.info }}</p>

							<form method="post" action="{% url 'product_detail' data.id %}">{% csrf_token %}
								<div class="add-to-cart">
									<div class="qty-label">
										Miqdor
										<div class="input-number">
											<input name="quantity" type="number" required>
											<span class="qty-up">+</span>
											<span class="qty-down">-</span>
										</div>
										<span> ta</span>
									</div>
									{% if request.user.is_authenticated %}
										<button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Savatga qo'shish</button>
									{% else %}
										<button onclick=showAlert() class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Savatga qo'shish</button>
										<script>
											function showAlert(){
												alert("Avval ro'yxatdan o'ting yoki hisobingizga kiring");
											}
										</script>
									{% endif %}
								</div>
							</form>

							<ul class="product-links">
								<li>Kategoriya:</li>
								<li><a href="#">{{ data.type }}</a></li>
							</ul>
							<br>
							{% if messages %}
								{% for message in messages %}
									<h4 class="lead" style="color: red;">{{ message }} !</h4>
								{% endfor %}
							{% endif %}
						</div>
					</div>
					<!-- /Product details -->


					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center">
							<h3 class="title">Shunga yaqin mahsulotlar</h3>
						</div>
					</div>

					{% for i in related_products %}
					<!-- product -->
					<a href="{% url 'product_detail' i.id %}">
						<div class="col-md-3 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src="{{ i.image.url }}" alt="">
							</div>
							<div class="product-body">
								<p class="product-category">{{ i.type }}</p>
								<h3 class="product-name"><a href="#">{{ i.name }}</a></h3>
								<h4 class="product-price">{{ i.price|sum_converter }}</h4>
								<div class="product-rating">
								</div>
								<div class="product-btns">
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">ko'rish</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Savatga qo'shish</button>
							</div>
						</div>
					</div>
					</a>
					<!-- /product -->
					{% endfor %}
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /Section -->
{% endblock content %}