{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h4>Kirish</h2>
        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
            <input type="text" name='username' class="form-control" style="width: 50%;">
            <br>
            <input type="password" name='password' class="form-control" style="width: 50%;"><br>
            <input type="submit" value='Kirish' class='btn btn-primary'>
        </form>
    <a style="color:red;" href="{% url 'register_user' %}">Ro'yxatdan o'tish</a>
</div>

{% endblock content %}